<launch>
    <arg name="map_name"                 default="$(find heuristic_planners)/resources/3dmaps/large_office_001.pcd"/>
    <!-- <arg name="map_name"                 default="$(find heuristic_planners)/resources/3dmaps/small_forest01cutoff.pcd"/> -->

    <arg name="algorithm_name"      default="thetastar"/>

    <arg name="world_size_x"        default="40"/>
    <arg name="world_size_y"        default="40"/>
    <arg name="world_size_z"        default="10"/>
    <arg name="resolution"          default="0.1"/>
    <arg name="marker_scale"        default="0.1"/>

    <arg name="ground_height"       default="0.1"/>

    <!-- Possibles values are: euclidean, euclidean_optimized, manhattan, octogonal and dijkstra -->
    <arg name="heuristic"         default="euclidean"/>

    <arg name="overlay_markers"     default="false"/>
    <arg name="cost_weight" default="4.0"/>

    <arg name="odom_topic" value="/visual_slam/odom"/>
    <!-- <arg name="camera_pose_topic" value="/pcl_render_node/camera_pose"/> -->
    <!-- <arg name="depth_topic" value="/pcl_render_node/depth"/> -->
    <!-- <arg name="cloud_topic" value="/map_generator/global_cloud"/> -->
    <arg name="cloud_topic" value="/pcl_render_node/cloud"/>

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="321.04638671875"/>
    <arg name="cy" value="243.44969177246094"/>
    <arg name="fx" value="387.229248046875"/>
    <arg name="fy" value="387.229248046875"/>
    
    <arg name="output" default="screen"/>
    <node pkg="heuristic_planners" type="planner_ros_node" name="planner_ros_node" output="$(arg output)" required="true" >
        <param name="resolution"            value="$(arg resolution)"/>
        <param name="frame_id"              value="world"/>
        
        <param name="overlay_markers"       value="$(arg overlay_markers)"/>
        <param name="algorithm"             value="$(arg algorithm_name)"/>
        <param name="cost_weight"           value="$(arg cost_weight)"/>
        <param name="heuristic"             value="$(arg heuristic)"/>
        <param name="marker_scale"          value="$(arg marker_scale)"/>


        <param name="astar/resolution" value="0.1"/>
        <param name="astar/time_resolution" value="0.8"/>
        <param name="astar/lambda_heuristic" value="5.0"/>
        <param name="astar/allocate_num" value="1000000"/>

        <param name="thetastar/resolution" value="0.1"/>
        <param name="thetastar/time_resolution" value="0.8"/>
        <param name="thetastar/lambda_heuristic" value="5.0"/>
        <param name="thetastar/allocate_num" value="1000000"/>

        <param name="thetastaragr/resolution" value="0.1"/>
        <param name="thetastaragr/time_resolution" value="0.8"/>
        <param name="thetastaragr/lambda_heuristic" value="5.0"/>
        <param name="thetastaragr/allocate_num" value="1000000"/>

        <param name="thetastaragr/flying_cost" value="20" />
        <param name="thetastaragr/flying_cost_default" value="10" />

        <param name="thetastaragr/ground_judge" value="0.2" />
        <!-- 9.0 / 100 / 1.0 / 1.0 High transition cost -->
        <!-- 9.0 / 0 / 2.0 No Air -->
        <!-- 9.0 / 0 / 1.0 / 2.0 Ideal -->


        <remap from="/sdf_map/odom" to="$(arg odom_topic)"/>
        <!-- <remap from="/sdf_map/pose"  to="$(arg camera_pose_topic)"/>  -->
        <!-- <remap from="/sdf_map/depth" to="$(arg depth_topic)"/> -->
        <remap from="/sdf_map/cloud" to="$(arg cloud_topic)"/>

        <param name="sdf_map/resolution"      value="0.1" /> 
        <param name="sdf_map/map_size_x"   value="$(arg world_size_x)" /> 
        <param name="sdf_map/map_size_y"   value="$(arg world_size_y)" /> 
        <param name="sdf_map/map_size_z"   value="$(arg world_size_z)" /> 
        <param name="sdf_map/local_update_range_x"  value="5.5" /> 
        <param name="sdf_map/local_update_range_y"  value="5.5" /> 
        <param name="sdf_map/local_update_range_z"  value="4.5" /> 
        <param name="sdf_map/obstacles_inflation"     value="0.099" /> 
        <param name="sdf_map/local_bound_inflate"    value="0.0"/>
        <param name="sdf_map/local_map_margin" value="50"/>
        <param name="sdf_map/ground_height"        value="$(arg ground_height)"/>
        <!-- camera parameter -->
        <param name="sdf_map/cx" value="$(arg cx)"/>
        <param name="sdf_map/cy" value="$(arg cy)"/>
        <param name="sdf_map/fx" value="$(arg fx)"/>
        <param name="sdf_map/fy" value="$(arg fy)"/>
        <!-- depth filter -->
        <param name="sdf_map/use_depth_filter" value="true"/>
        <param name="sdf_map/depth_filter_tolerance" value="0.15"/>
        <param name="sdf_map/depth_filter_maxdist"   value="5.0"/>
        <param name="sdf_map/depth_filter_mindist"   value="0.2"/>
        <param name="sdf_map/depth_filter_margin"    value="2"/>
        <param name="sdf_map/k_depth_scaling_factor" value="1000.0"/>
        <param name="sdf_map/skip_pixel" value="2"/>
        <!-- local fusion -->
        <param name="sdf_map/p_hit"  value="0.65"/>
        <param name="sdf_map/p_miss" value="0.35"/>
        <param name="sdf_map/p_min"  value="0.12"/>
        <param name="sdf_map/p_max"  value="0.90"/>
        <param name="sdf_map/p_occ"  value="0.80"/>
        <param name="sdf_map/min_ray_length" value="0.5"/>
        <param name="sdf_map/max_ray_length" value="4.5"/>

        <param name="sdf_map/esdf_slice_height" value="0.3"/>
        <param name="sdf_map/visualization_truncate_height"   value="2.49"/>
        <param name="sdf_map/virtual_ceil_height"   value="2.5"/>
        <param name="sdf_map/show_occ_time"  value="false"/>
        <param name="sdf_map/show_esdf_time" value="false"/>
        <param name="sdf_map/pose_type"     value="1"/>  
        <param name="sdf_map/frame_id"      value="world"/>





        <param name="grid_map/resolution" value="0.1" />
        <param name="grid_map/map_size_x" value="$(arg world_size_x)" />
        <param name="grid_map/map_size_y" value="$(arg world_size_y)" />
        <param name="grid_map/map_size_z" value="$(arg world_size_z)" />
        <param name="grid_map/local_update_range_x" value="40.0" />
        <param name="grid_map/local_update_range_y" value="40.0" />
        <param name="grid_map/local_update_range_z" value="10.0" />
        <param name="grid_map/obstacles_inflation" value="0.099" />
        <param name="grid_map/local_map_margin" value="30" />
        <param name="grid_map/ground_height" value="$(arg ground_height)" />

        <!-- camera parameter -->
        <param name="grid_map/cx" value="321.04638671875" />
        <param name="grid_map/cy" value="243.44969177246094" />
        <param name="grid_map/fx" value="387.229248046875" />
        <param name="grid_map/fy" value="387.229248046875" />

        <!-- depth filter -->
        <param name="grid_map/use_depth_filter" value="true" />
        <param name="grid_map/depth_filter_tolerance" value="0.15" />
        <param name="grid_map/depth_filter_maxdist" value="5.0" />
        <param name="grid_map/depth_filter_mindist" value="0.2" />
        <param name="grid_map/depth_filter_margin" value="1" />
        <param name="grid_map/k_depth_scaling_factor" value="1000.0" />
        <param name="grid_map/skip_pixel" value="2" />

        <!-- local fusion -->
        <param name="grid_map/p_hit" value="0.65" />
        <param name="grid_map/p_miss" value="0.35" />
        <param name="grid_map/p_min" value="0.12" />
        <param name="grid_map/p_max" value="0.90" />
        <param name="grid_map/p_occ" value="0.80" />
        <param name="grid_map/min_ray_length" value="0.1" />
        <param name="grid_map/max_ray_length" value="4.5" />
        <param name="grid_map/virtual_ceil_height" value="2.5" />
        <param name="grid_map/visualization_truncate_height" value="2.4" />
        <param name="grid_map/show_occ_time" value="false" />
        <param name="grid_map/pose_type" value="2" />
        <param name="grid_map/frame_id" value="world" />

        <!-- astar parameters -->
        <param name="astar/resolution" value="0.1" />
        <param name="astar/lambda_heu" value="1.0" />
        <param name="astar/allocated_node_num" value="1000000" />

        <!-- local cloud lidar not use cuda-->
        <remap from="/grid_map/cloud" to="$(arg cloud_topic)" />
        <remap from="/grid_map/odom" to="$(arg odom_topic)" />
    </node>

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find heuristic_planners)/rviz/planners.rviz"/>
    <!-- use simulator -->
    <include file="$(find heuristic_planners)/launch/simulator.xml">
        <arg name="map_name" value="$(arg map_name)"/>
        <arg name="map_size_x_" value="$(arg world_size_x)"/>
        <arg name="map_size_y_" value="$(arg world_size_y)"/>
        <arg name="map_size_z_" value="$(arg world_size_z)"/>
        <arg name="c_num" value="0"/>
        <arg name="p_num" value="80"/>

        <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>
</launch>
